@media only screen and (max-width: 1300px) {
    .body-layout {
        padding: 24px;
    }
    .infocard {
        // flex-direction: column;
        width: 100%;
        padding: 12px;
        .textcard {
            padding: 5px;
            font-size: 14px;
            width: 100%;
        }
        .logocard {
            img {
                width: 64px;
                padding: 5px;
            }
        }
    }
    .pf-grid-cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important; // 3 columnas de igual ancho
        grid-template-rows: repeat(2, 0.5fr) !important;
        overflow: hidden;
        padding: 48px;
        gap: 12px !important;
    }
    .header-layout {
        flex-direction: column-reverse;
        .nav-cont{
            ul {
                li {
                    a {
                        text-align: center;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .title-type1{
        font-family: $AltFont;
        color: $soft;
        font-weight: 500;
        font-size: 24px;
    }
    .nav-cont {
        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }
    .footer-layout {
        padding-bottom: 24px;
        img {
            width: 50%;
        }
    }
    .redes {
        width: 20%;
        flex-direction: column;
    }
    .acerca-txt{
        font-size: 18px !important;
        padding: 12px;
    }
}