$dark: #303030;
$soft: #EBEBEB;
$color: #008080;
$accent: wheat;

$PrimaryFont: 'Josefin Sans', serif;
$SdaryFont: 'Jost', serif;
$TryFont: 'Tinos', serif;
$AltFont: 'Merienda', serif;
$AltFont2: 'Yatra One', serif;

